{% extends 'base.html.twig' %}

{% block body %}
    <center><h1>Activites list</h1></center>

    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Typeact</th>
                <th>Detailles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activite in activites %}
            <tr>
                <td><a href="{{ path('activite_show', { 'id': activite.id }) }}">{{ activite.id }}</a></td>
                <td>{{ activite.typeact }}</td>
                <td>{{ activite.detailles }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('activite_show', { 'id': activite.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('activite_edit', { 'id': activite.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <div class="form-group col-lg-12 col-md-12 col-sm-12 text-center">
                <a href="{{ path('activite_new') }}"  ><button class="theme-btn btn-style-one" type="submit" name="submit-form">create a new activite</button>

            </a></div>
        </li>
    </ul>
{% endblock %}
