{% extends 'base.html.twig' %}

{% block body %}
    <h1>liste des événements</h1>
<div class="form-group col-lg-4 col-md-2 col-sm-2 text-center"; style="float: right">
    <ul style="float: right">
        <li>
            <a class="theme-btn btn-style-one" class="btn"; href="{{ path('evenement_new') }}">Créer un nouvel événement</a>
        </li>
    </ul>
</div>



    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Date</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td><a href="{{ path('evenement_show', { 'id': evenement.id }) }}">{{ evenement.id }}</a></td>
                <td>{{ evenement.titre }}</td>
                <td>{% if evenement.date %}{{ evenement.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ evenement.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-success" href="{{ path('evenement_show', { 'id': evenement.id }) }}">Afficher</a>
                        </li>
                        <li>
                            <a class="btn btn-primary" href="{{ path('evenement_edit', { 'id': evenement.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
