{% extends 'base.html.twig' %}

{% block body %}
    <section class="page-title" style="background-image:url({{ asset ('images/1.jpg')}});">
        <div class="auto-container">
            <div class="inner-container clearfix">

                <h1>Messages List</h1>
            </div>
        </div>
    </section>

<section class="program-section alternate">
    <div class="auto-container">
        <div class="row">
        {% for message in messages %}

            <!-- Program Block -->
            <div class="program-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                <div class="inner-box">

                    <div class="lower-content">
                        <h4><a href="{{ path('messages_show', { 'id': message.id }) }}">{{ message.parent.nom ~" "~ message.parent.prenom}}</a></h4>
                        <div class="text">{{ message.msg }}</div>
                        <ul class="program-info">

                            <li><span>Time:</span> {{ message.date|date('Y-m-d H:i:s') }}</li>
                        </ul>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
    </div>
    </section>

    <ul>
        <li>
            <a href="{{ path('messages_new') }}">Create a new message</a>
        </li>
    </ul>
{% endblock %}
