{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tuteur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tuteur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ tuteur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ tuteur.prenom }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ tuteur.sexe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tuteur_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
