{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des enfants</h1>

    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Datenaiss</th>
                <th>Sexe</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for enfant in enfants %}
            <tr>
                <td><a href="{{ path('enfant_show', { 'id': enfant.id }) }}">{{ enfant.id }}</a></td>
                <td>{{ enfant.nom }}</td>
                <td>{{ enfant.prenom }}</td>
                <td>{% if enfant.datenaiss %}{{ enfant.datenaiss|date('Y-m-d') }}{% endif %}</td>
                <td>{{ enfant.sexe }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('enfant_show', { 'id': enfant.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('enfant_edit', { 'id': enfant.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('enfant_new') }}"><b>Create a new enfant</b></a>
        </li>
    </ul>
{% endblock %}
